@font-face {
  font-family: a;
  src: url("./assets/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSo3Sup8.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-name {
  font-size: 60px;
  font-family: a;
  color: #db7093;
}

.wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.textfield {
  color: white !important;
}

.textfield-label {
  color: #808080 !important;
}
